 <%= javascript_include_tag    'application.js' %>

<%= form_with(model: complaint, local: true) do |form| %>




<div class="col s10 offset-s1" style="margin-bottom: 100px;">
  <div class="row">
    <div class="col s7 social-group" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="grup input-field col s12">
        <%# <select id="complaint_clasification" required>
          <option value="" disabled selected></option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select> %>
        <%= form.select(:clasification, options_for_select([["Option 1","Option 1"],["Option 2","Option 2"],["Option 3","Option 3"]]) ) %>
        <label>Selecciona el grupo social al cual perteneces:</label>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>
      <div class="org input-field col s12">
        <%# <select id="complaint_organization">
          <option value="" disabled selected></option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select> %>
        <%= form.select(:organization, options_for_select([["Option 1","Option 1"],["Option 2","Option 2"],["Option 3","Option 3"]]) ) %>
        <label>Selecciona la organización con la cual te gustaría compartir tu caso:</label>
      </div>

      <%= form.text_field :department, class: "validate", style:"display:none"%>
      <%= form.text_field :city, class: "validate", style:"display:none"%>
      <%= form.text_field :date_event, class: "datepicker", style:"display:none"%>
      <%= form.text_field :email, class: "validate", style:"display:none"%>
      <%= form.text_field :description, class: "validate", style:"display:none"%>
      <%= form.text_field :file, class: "validate", style:"display:none"%>

      <br>

      <div class="row"></div>
      <div class="row"></div>
      <div class="row"></div>

      <!-- <a id="social_group_continue" onclick="verify(event); location.reload();" href="<%= completed_path %>"
        class="waves-effect waves-light btn right">Continuar</a> -->
        <%= form.submit "Continuar", class: "waves-effect waves-light btn right", style: "color: white;"%>
      <a onclick="" href="<%= complaint_form_path %>" class="waves-effect waves-light btn left">Volver</a>
    </div>
  </div>
  </div>
</div>




<% end %>