<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('logo.png') %>"/>
    <title>Safe and Sound</title>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "style.css" %>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script> -->
</head>
<body>
    <%= csrf_meta_tag %>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <%= link_to  root_path do %>
            <img src="<%= asset_path('logo.png') %>" class="mylogo">
            <% end %>
            <!--<img src="../../assets/images/Logo.png" alt="" class="mylogo">
            sudo apt-get update
            sudo apt-get install imagemagick --fix-missing
        -->
        <% if user_signed_in? %>
        <% if current_user.Isadmin? %>
        <ul class="left hide-on-med-and-down">
            <li class = "right " >
                <label><b>ADMINISTRADOR</b></label>
            </li>
        </ul>
        <% end %>
        <% end %>
        <ul class="right hide-on-med-and-down">
            <% if user_signed_in? %>
            <li class = "right "><%= link_to "Salir", auth_sign_out_path, method: :delete ,class:"" %></li>
            <% else %>
            <li class = "right"><%= link_to "Ingresar", login_path, class: ""  %></li>
            <li class = "right"><%= link_to "Registrarse", register_path, class: "" %></li>
            <% end %>
            <% if user_signed_in? %>
            <li class = "left " ><%= link_to "Foro", discussions_path, class: ""  %></li>
            <% end %>
            <% if user_signed_in? %>
            <% if !current_user.Isadmin? %>
            <li class = "left"><%= link_to "Contactenos", contact_path, class: ""  %></li>
            <% end %>
            <% end %>

        <% if user_signed_in? %>
        <li>  <%= avatar_for(current_user, size: 35, class: "avatar")%></li>
        <li style="color: #5db6fc">  <%= link_to  current_user.username, current_user, class:"userprofile" %></li>
        <% end %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
        <% if user_signed_in? %>
          <li class = " "><%= link_to "Salir", auth_sign_out_path, method: :delete ,class:"" %></li>
        <% else %>
          <li class = ""><%= link_to "Ingreso", login_path, class: ""  %></li>
          <li class = ""><%= link_to "Registrarse", register_path, class: "" %></li>

        <% end %>
        <% if user_signed_in? %>
            <li class = " " ><%= link_to "Foro", discussions_path, class: ""  %></li>
            <% end %>
            <li class = ""><%= link_to "Contacto", contact_path, class: ""  %></li>

            <% if user_signed_in? %>
            <li class = " "><%= link_to "Salir", auth_sign_out_path, method: :delete ,class:"" %></li>
            <% else %>
            <li class = ""><%= link_to "Ingresar", login_path, class: ""  %></li>
            <li class = ""><%= link_to "Registrarse", register_path, class: "" %></li>
            <% end %>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
