<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csp_meta_tag %>
   
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('logo2.png') %>" />

    <title>CAECUS</title>
    
    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'fonts' %>
    <%= stylesheet_link_tag    'complaint_form' %>
    <%= stylesheet_link_tag    'confirmation' %>
    <%= stylesheet_link_tag    'social_group' %>
    <%= stylesheet_link_tag    'completed' %>
    <%= stylesheet_link_tag    'map_styles' %>

    <%= javascript_include_tag    'application.js' %>
    <%= render "layouts/load-assets" %>
</head>

<body>
    <script>
        $(document).ready(function () {
            $('select').formSelect(); //Sin esto los select no se muestran
        });
    </script>
    <%= yield %>
</body>

</html>