<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="<%= asset_path('logo.png') %>" />
    <title>CAECUS</title>
    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'fonts' %>
    <%= csp_meta_tag %>
   
  </head>

  <body>
    <%= yield %>
  </body>
</html>
